@import '../assets/colors.css';

.nav {
    height: 3.5rem;
    position: sticky;
    top: 0;
    background-color: white;
    color: white;
    z-index: 99;
}

.nav-button-wrapper {
    display: flex;
    margin: auto;
    height: 3.5rem;
    width: 95%;
    max-width: 800px;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    text-decoration: none;
    cursor: pointer;
}

a {
    color: var(--dark-grey);
    text-decoration: none;
    background-image: linear-gradient(var(--dark-grey), var(--dark-grey));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

    a:hover,
    a:focus,
    a:active {
        background-size: 100% 0.1em;
    }