@import './assets/colors.css';

.App {
  text-align: center;
  background-image: url("./assets/headerbg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}

.page-section {
  min-height: 50vh;
}

.section-1 {
  
  background-color: var(--grey);
}

.section-2 {
  background-color: var(--med-grey);
}
